html
   head
      link(rel="stylesheet" type="text/css" href="/stylesheets/admin.css")
      title Admin page
   body
      #title Admin Page
      a#postLink(href="/admin/createNewPost") Post Text Only
      br
      br
      a#postLink(href="/admin/emergencySafetyCheck") Post Emergency Safety Check
   footer
      include ../partials/googleAnalytics.pug
