html
   head
      title Shane Kent - Prague
      link(rel="stylesheet" type="text/css" href="/stylesheets/main.css")
      link(rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Vollkorn")
      //Background image is courtesy of https://www.emaze.com/@ACTLZTWW/Prague,-Czech
      //This page was made from scratch by Shane Kent on August 25, 2016.
   body
      #mainContainer
         #mainTitle Shane Kent in Prague
         #mainTagLine My life while abroad, exploring what Europe has to offer
         hr#mainBreak

   footer
      include ../partials/googleAnalytics.pug
